<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .container{
            margin-left:550px;
            margin-top:150px;
            width:300px;
            height:120px;
            padding:18px;
            background-color:aquamarine;

    </style>
</head>
<body>
    <p><a href="retrive"> Check Your Data</a></p>

<div class="container">
    <table>
        <tbody>
        <form action="create/" method="POST">
            {% csrf_token %}
            <tr>
                <td>Name</td>
                <td>
                    <input type="text" name="name" required>
                </td>
            </tr>

            <tr>
                <td>Age</td>
                <td><input type="text" name="age" required></td>
            </tr>

            <tr>
                <td>Address</td>
                <td><textarea name="address" reqiured></textarea></td>
            </tr>

            <tr>
                <td>
                    <button>Submit</button>
                </td>

            </tr>
        </form>
        </tbody>
    </table>
</div>

</body>
</html>