<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Retrive Data</title>
</head>
<body>
    <table border="2px solid red;">
        <tbody>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Address</th>
                <th>Edit</th>
                <th>Delete</th>

            </tr>

    </thead>
        </tbody>

        <tbody>
        {% for item in details %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.age }}</td>
            <td>{{ item.address }}</td>
            <td><a href="{% url 'edit' item.id %}">Edit</a></td>
            <td><a href="{% url 'delete' item.id %}">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</body>
</html>